html {
	font-family: 'Darker Grotesque', sans-serif; 
	overflow: none;
	

}
.main-nav {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
	z-index: 1;
	position: relative;

}
body {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 200;
	/*font-size: 75px;*/
	line-height: 30px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 0px;
	/*margin-left: 10px;*/

}

a:hover {
	/*opacity: 50%;*/
	color: orange;
	transition: 0.2s ease-in-out;
}
#collections-gallery {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	/*column-count: 3;*/

}
p {
	margin-top: 5px;
	margin-bottom: 5px;

}
footer {
	display: inline-flex;
	position: relative;
	padding: 0;
	top: 795px;

}
/*footer a {
	font-size: 20px;
}*/

.back-nav {
	overflow: hidden;
	/*font-size: 25px;*/
	position: fixed;
	margin-top: 10px;
	/*margin-right: 20px;
	margin-left: 20px;*/
	/*width: 100%;*/
	top: 0;

}
.back-nav a {
	  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.gallery-structure-2 {
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 4;
	align-content: space-around;
	background-color: black;
	margin-top: 0px;
	/*margin: */

}

.gallery-nav {

}
ul {
	list-style-type: none;
	text-decoration: none;
	float: left;
	padding-left: 0px;
	line-height: 50px;
	margin-top: 70px;
}
.about-paragraph-2 {
	text-align: center;
	font-size: 60px;
	font-weight: 200;
	line-height: 60px;
	margin-right: 10px;
	margin-left: 10px;
}
.about-paragraph-1 {
	text-align: center;
	font-size: 60px;
	font-weight: 200;
	line-height: 60px;
	margin-top: 60px;
	margin-bottom: 50px;
}

